################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CalcCOMObject/Debug
/CalcCOMObjectTestApp/Debug
/UnitTests/Debug
/CalcCOMObject/Release
/CalcCOMObjectTestApp/Release
/UnitTests/Release
/Debug
/Release
/TestResults
/CalcCOMObject/Calculation_h.h
/CalcCOMObject/Calculation_i.c
/CalcCOMObject.VC.db
/CalcCOMObjectTestApp/CalcCOMObjectTestApp.vcxproj.user
/UnitTests/UnitTests.vcxproj.user
/CalcCOMObject.VC.VC.opendb
